*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'raleeway-regular';
    src: url("../fonts/Raleway-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleeway-italic';
    src: url("../fonts/Raleway-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    position: relative;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

.d-f{
    display: flex;
}

.ai-c{
    align-items: center;
}

.jc-c{
    justify-content: center;
}

.fd-c{
    flex-direction: column;
}

.jc-sb{
    justify-content: space-between;
}

.main{
    height: 100vh;
}

.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-main{
    padding-top: 150px;
    color: #53bc53;
}

.logo-main span{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.logo-main h2{
    letter-spacing: 0.5em;
}

.choose-program{
    padding-top: 100px;
}

.choose-text h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
}

.choose-button{
    padding-top: 35px;
}

.choose-button .btn{
    margin-bottom: 35px;
}

.btn{
    background-color: #53bc53;
    border-radius: 25px;
    padding: 15px 125px;
    max-width: 400px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.choose-button .btn:hover{
    background-color: green;
}

.your-parameters{
    padding-top: 150px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.arrow-back{
    width: 16px;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.parameters-text{
    margin-bottom: 150px;
}

.parameters-text p{
    text-align: center;
    font-style: italic;
}

.parameters-text h3{
    margin-bottom: 15px;
    text-transform: uppercase;
}

.gender{
    margin-bottom: 20px;
}

.gender label{
    position: relative;
    margin-right: 15px;
    color: #757575;
    cursor: pointer;
}

#gender-man,
#gender-woman{
    margin-right: 10px;
    height: 5px;
}

#gender-man:checked~.choose-man,
#gender-woman:checked~.choose-woman{
    color: #03a9f4;
}

#gender-man:checked~.choose-man:before,
#gender-woman:checked~.choose-woman:before{
    background-color: #03a9f4;
}

.choose-man:before{
    position: absolute;
    content: '';
    mask: url('./../images/user-profile-svgrepo-com.svg');
    -webkit-mask: url('./../images/user-profile-svgrepo-com.svg');
}

.choose-man:hover,
.choose-woman:hover{
    color: #03a9f4;
}

.choose-man:hover:before,
.choose-woman:hover:before{
    background-color: #03a9f4;
}

.choose-woman:before{
    position: absolute;
    content: '';
    mask: url("./../images/user-female-svgrepo-com.svg");
    -webkit-mask: url('./../images/user-female-svgrepo-com.svg');
}

.choose-woman:before,
.choose-man:before{
    height: 25px;
    width: 25px;
    top: -6px;
    left: -32px;
    background-size: 25px;
    vertical-align: middle;
    background-color: #757575;
}

.choose-parameters {
    margin-bottom: 150px;
}

.btn-next{
    width: auto;
    max-width: none;
    padding: 15px 50px;
    margin-bottom: 80px;
}

.form-control{
    outline: none;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    max-width: 500px;
    padding: 15px 300px 5px 5px;
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 526px) {
    .form-control{
        padding: 15px 230px 5px 5px;
    }

    .your-parameters{
        padding-top: 100px;
    }

    .parameters-text {
        margin-bottom: 115px;
    }
}

@media (max-width: 465px) {
    .logo-main h2{
        letter-spacing: 0.3em;
    }

    .choose-text h3{
        font-size: 14px;
    }

    .choose-text p{
        font-size: 14px;
    }

    .choose-button .btn{
        max-width: 335px;
        padding: 15px 95px;
    }

    .form-control{
        padding: 15px 130px 5px 5px;
    }

    .gender {
        margin-bottom: 10px;
    }

    #gender-man, #gender-woman {
        margin-right: 5px;
    }

    .choose-woman:before, .choose-man:before{
        width: 20px;
        height: 20px;
        top: -5px;
        left: -26px;
    }
}

@media (max-width: 365px) {
    .choose-button .btn{
        padding: 15px 70px;
    }

    .parameters-text {
        margin-bottom: 80px;
    }

    .choose-parameters{
        margin-bottom: 100px;
    }

    .form-control {
        padding: 15px 100px 5px 5px;
        font-size: 14px;
    }
}

/*Recommended calories page start*/

.recommended-calories{
    padding-top: 100px;
}

.recommended-title{
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.recommended-text p:last-child{
    font-weight: 600;
    color: #332d2d;
}

.recommended-text{
    margin-bottom: 80px ;
}

.count-calories{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 14px solid #53bc53;
    margin-bottom: 150px;
}

.count-calories span{
    font-weight: 600;
}

.count-calories span:first-child{
    font-size: 30px;
}

.calories-text{
    color: #8e8e8e;
    font-size: 14px;
    margin-bottom: 20px;
}

.recommended-calories .btn-next{
    margin-bottom: 20px;
}
/*Recommended calories page END*/

/*Registration page start*/
.choose-registration{
    /*Тут нужно заменить на фоновые картинки*/
    /*background-image: url("./../images/fitness1.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    padding: 100px 0 50px;
    background-color: #bcdeec;
    height: 100vh;
}

.choose-registration .container{
    height: 100%;
}

.logo-registration{
    color: white;
    position: relative;
    margin-bottom: 50px;
}

.logo-adidas{
    padding-right: 15px;
    border-right: 2px solid #fff;
}

.logo-adidas img{
    position: relative;
    width: 75px;
}

.logo-adidas img:before{
    content: 'adidas';
    position: absolute;
}

.logo-title{
    padding-left: 15px;
}

.logo-title span{
    font-style: italic;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
}

.logo-title h2{
    letter-spacing: 5px;
    font-size: 25px;
}

.registration-form .btn{
    background-color: #fff;
    color: #767676;
    border:1px solid #aeaeae;
    box-shadow: 0 0 5px #aeaeae;
    text-align: center;
    position: relative;
}

.social-google:before{
    position: absolute;
    content: url("./../images/google.svg");
    width: 20px;
    right: 58%;
    top: 27%;
}

.social-google:hover{
    background-color: #69B22C;
    color: #fff;
    font-size: 13px;
}

.registration-form .btn-next{
    margin-bottom: 20px;
}

.registration-form .social-facebook{
    color: #0276ce;
}

.social-facebook{
    margin-right: 10px;
}

.social-facebook:before{
    top: 26%;
    position: absolute;
    width: 14px;
    content: url(./../images/facebook-f-brands.svg);
    left: 16%;
}

.social-facebook:hover,
.social-reg:hover{
    background-color: #0276ce;
    color: #fff;
    font-size: 13px;
}

.social-facebook:hover:before{
    content: url("./../images/facebook-active.svg");
}

.social-reg{
    color: #0276ce;
}

.registration-text{
    color: #fff;
    font-size: 14px;
}

.registration-text span{
    margin-right: 10px;
}

.registration-text a{
    text-transform: uppercase;
    color: #0276ce;
    font-size: 13px;
    font-weight: 600;
}

.registration-text a:hover{
    font-size: 14px;
}

@media (max-width: 400px) {

    .logo-adidas img {
        position: relative;
        width: 60px;
    }

    .logo-title span {
        font-size: 14px;
    }

    .logo-title h2 {
        font-size: 20px;
    }

    .registration-form .btn-next{
        padding: 15px 30px;
    }

    .social-facebook:before {
        top: 27%;
        width: 12px;
        left: 9%;
    }

    .social-google:before {
        width: 17px;
        right: 59%;
    }
}

/*registration-popup start*/

.registration-popup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff
}
