*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'raleeway-regular';
    src: url("../fonts/Raleway-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleeway-italic';
    src: url("../fonts/Raleway-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    position: relative;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
    outline: none;
}

ul{
    list-style: none;
}

.d-f{
    display: flex;
}

.ai-c{
    align-items: center;
}

.jc-c{
    justify-content: center;
}

.fd-c{
    flex-direction: column;
}

.jc-sb{
    justify-content: space-between;
}

.main{
    height: 100vh;
}

.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.your-parameters,
.registration-popup,
.authorization-popup{
    display: none;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo-main{
    padding-top: 150px;
    color: #53bc53;
}

.logo-main span{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.logo-main h2{
    letter-spacing: 0.5em;
}

.choose-program{
    padding-top: 100px;
}

.choose-text h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
}

.choose-button{
    padding-top: 35px;
}

.choose-button .btn{
    margin-bottom: 35px;
}

.btn{
    background-color: #53bc53;
    border-radius: 25px;
    padding: 15px 125px;
    max-width: 400px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.choose-button .btn:hover{
    background-color: green;
}

.your-parameters{
    padding-top: 150px;
    background-color: #fff;
}

.arrow-back{
    width: 16px;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.parameters-text{
    margin-bottom: 150px;
}

.parameters-text p{
    text-align: center;
    font-style: italic;
}

.parameters-text h3{
    margin-bottom: 15px;
    text-transform: uppercase;
}

.gender{
    margin-bottom: 20px;
}

.gender label{
    position: relative;
    margin-right: 15px;
    color: #757575;
    cursor: pointer;
}

#gender-man,
#gender-woman{
    margin-right: 10px;
    height: 5px;
}

#gender-man:checked~.choose-man,
#gender-woman:checked~.choose-woman{
    color: #03a9f4;
}

#gender-man:checked~.choose-man:before,
#gender-woman:checked~.choose-woman:before{
    background-color: #03a9f4;
}

.choose-man:before{
    position: absolute;
    content: '';
    mask: url('./../images/user-profile-svgrepo-com.svg');
    -webkit-mask: url('./../images/user-profile-svgrepo-com.svg');
}

.choose-man:hover,
.choose-woman:hover{
    color: #03a9f4;
}

.choose-man:hover:before,
.choose-woman:hover:before{
    background-color: #03a9f4;
}

.choose-woman:before{
    position: absolute;
    content: '';
    mask: url("./../images/user-female-svgrepo-com.svg");
    -webkit-mask: url('./../images/user-female-svgrepo-com.svg');
}

.choose-woman:before,
.choose-man:before{
    height: 25px;
    width: 25px;
    top: -6px;
    left: -32px;
    background-size: 25px;
    vertical-align: middle;
    background-color: #757575;
}

.choose-parameters {
    margin-bottom: 150px;
}

.btn-next{
    width: 190px;
    padding: 15px 50px;
    margin-bottom: 80px;
}

.form-control{
    outline: none;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    width: 500px;
    padding: 15px 50px 5px 5px;
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 526px) {
    .form-control{
        width: 430px;
    }

    .your-parameters{
        padding-top: 100px;
    }

    .parameters-text {
        margin-bottom: 115px;
    }
}

@media (max-width: 465px) {
    .logo-main h2{
        letter-spacing: 0.3em;
    }

    .choose-text h3{
        font-size: 14px;
    }

    .choose-text p{
        font-size: 14px;
    }

    .choose-button .btn{
        max-width: 335px;
        padding: 15px 95px;
    }

    .form-control{
        width: 350px;
    }

    .gender {
        margin-bottom: 10px;
    }

    #gender-man, #gender-woman {
        margin-right: 5px;
    }

    .choose-woman:before, .choose-man:before{
        width: 20px;
        height: 20px;
        top: -5px;
        left: -26px;
    }
}

@media (max-width: 365px) {
    .choose-button .btn{
        padding: 15px 70px;
    }

    .parameters-text {
        margin-bottom: 80px;
    }

    .choose-parameters{
        margin-bottom: 100px;
    }

    .form-control {
        width: 300px;
        font-size: 14px;
    }
}

/*Recommended calories page start*/

.recommended-calories{
    padding-top: 100px;
}

.recommended-title{
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.recommended-text p:last-child{
    font-weight: 600;
    color: #332d2d;
}

.recommended-text{
    margin-bottom: 80px ;
}

.count-calories{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 14px solid #53bc53;
    margin-bottom: 150px;
}

.count-calories span{
    font-weight: 600;
}

.count-calories span:first-child{
    font-size: 30px;
}

.calories-text{
    color: #8e8e8e;
    font-size: 14px;
    margin-bottom: 20px;
}

.recommended-calories .btn-next{
    margin-bottom: 20px;
}
/*Recommended calories page END*/

/*Registration page start*/
.choose-registration{
    /*Тут нужно заменить на фоновые картинки*/
    /*background-image: url("./../images/fitness1.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    padding: 100px 0 50px;
    background-color: #bcdeec;
    height: 100vh;
}

.choose-registration .container{
    height: 100%;
}

.logo-registration{
    color: white;
    position: relative;
    margin-bottom: 50px;
}

.logo-adidas{
    padding-right: 15px;
    border-right: 2px solid #fff;
}

.logo-adidas img{
    position: relative;
    width: 75px;
}

.logo-adidas img:before{
    content: 'adidas';
    position: absolute;
}

.logo-title{
    padding-left: 15px;
}

.logo-title span{
    font-style: italic;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
}

.logo-title h2{
    letter-spacing: 5px;
    font-size: 25px;
}

.registration-form .btn{
    background-color: #fff;
    color: #767676;
    border:1px solid #aeaeae;
    box-shadow: 0 0 5px #aeaeae;
    text-align: center;
    position: relative;
    width: auto;
}

.social-google:before{
    position: absolute;
    content: url("./../images/google.svg");
    width: 20px;
    right: 58%;
    top: 27%;
}

.social-google:hover{
    background-color: #69B22C;
    color: #fff;
    font-size: 13px;
}

.registration-form .btn-next{
    margin-bottom: 20px;
}

.registration-form .social-facebook{
    color: #0276ce;
}

.social-facebook{
    margin-right: 10px;
}

.social-facebook:before{
    top: 26%;
    position: absolute;
    width: 14px;
    content: url(./../images/facebook-f-brands.svg);
    left: 16%;
}

.social-facebook:hover,
.social-reg:hover{
    background-color: #0276ce;
    color: #fff;
    font-size: 13px;
}

.social-facebook:hover:before{
    content: url("./../images/facebook-active.svg");
}

.social-reg{
    color: #0276ce;
}

.registration-text{
    color: #fff;
    font-size: 14px;
}

.registration-text span{
    margin-right: 10px;
}

.registration-text a{
    text-transform: uppercase;
    color: #0276ce;
    font-size: 13px;
    font-weight: 600;
}

.registration-text a:hover{
    font-size: 14px;
}

@media (max-width: 400px) {

    .logo-adidas img {
        position: relative;
        width: 60px;
    }

    .logo-title span {
        font-size: 14px;
    }

    .logo-title h2 {
        font-size: 20px;
    }

    .registration-form .btn-next{
        padding: 15px 30px;
    }

    .social-facebook:before {
        top: 27%;
        width: 12px;
        left: 9%;
    }

    .social-google:before {
        width: 17px;
        right: 59%;
    }
}

/*registration-popup start*/

.registration-popup{
    background-color: #fff
}

.registration-popup_title{
    background-color: #007aff;
    height: 50px;
    color: #fff;
    position: relative;
}

.registration-popup_title p{
    padding-left: 65px;
    font-weight: 600;
}

.registration-popup form{
    padding-top: 50px;
    height: 100vh;
}

.registration-popup .form-control{
    color: #dad5d5;
    font-size: 14px;
    font-style: italic;
}

.personal-data{
    padding-bottom: 10px;
    border-bottom: 1px solid #aeaeae;
}

.registration-photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d0d0d0;
    margin-right: 30px;
    position: relative;
}

.registration-photo input{
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.registration-photo input + label{
    width: 44px;
    position: absolute;
    right: 28px;
    top: 24px;
}

.registration-photo #blah{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0;
    display: none;
}

.registration-auth_data{
    margin-bottom: 30px;
}

.registration-auth_data .form-control{
    width: 630px;
}

.error-name, .error-first_name, .error-email, .error-password, .error-checkbox{
    display: none;
}

.active{
    display: block;
    color: red;
    font-size: 10px;
}

.form-authorization .invalid{
    border-bottom: 2px solid #900;
}

.form-authorization .btn{
    background-color: #0276ce;
}

.form-authorization button a{
    pointer-events: none;
}

@media (max-width: 662px) {

    .registration-auth_data .form-control {
        width: 555px;
    }

    .personal-data .form-control{
        width: 433px;
    }
}

@media (max-width: 662px) {

    .registration-auth_data .form-control {
        width: 450px;
    }

    .personal-data .form-control{
        width: 328px;
    }

    .registration-popup .form-control {
        font-size: 12px;
    }
}

@media (max-width: 470px) {

    .registration-auth_data .form-control {
        width: 350px;
    }

    .personal-data .form-control{
        width: 228px;
    }

    .registration-photo {
        width: 90px;
        height: 90px;
    }

    .registration-photo input + label {
        width: 30px;
        top: 27px;
        right: 30px;
    }
}

@media (max-width: 370px) {

    .registration-auth_data .form-control {
        width: 300px;
    }

    .personal-data .form-control {
        width: 178px;
    }

    .form-authorization .btn-next {
        padding: 15px 42px;
    }
}

/*.registration-popup END*/

/*.authorization-popup START*/

.authorization-popup{
    padding: 50px 0;
    background-color: rgb(190, 216, 234);
}

.authorization-popup .form-control{
    background-color: transparent;
    border-color: #fff;
    font-size: 14px;
    padding: 15px 50px 10px 10px;
}

.authorization-popup .form-control::placeholder{
    color: #fff;
}

.authorization-popup form input:nth-child(2) {
    margin-bottom: 35px;
}

.authorization-popup .btn{
    margin-bottom: 10px;
    max-width: 500px;
    background-color: #0276ce;
}

.authorization-popup .btn:hover{
    background-color: #fff;
    color: #0276ce;
}

.authorization-popup a{
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

/*home page STAR*/

.tab-section{
    position: relative;
    height: 100vh;
}

#tabs-block_holder{
    display: flex;
}

.tab-fixed{
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 5px #aeaeae;
}

.tabs-list {
    margin: 0 auto;
    padding: 15px;
    width: 600px;
    justify-content: space-around;
}

.tabs-list li:last-child{
    margin-right: 0;
}

.tabs-list img{
    height: 25px;
    margin-bottom: 5px;
}

.tabs-list a{
    color: #9e9e9e;
}

.add-program{
    border: 1px solid #9e9e9e;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.add-program img{
    margin-bottom: 0;
}

.tabs-list .active-tab{
    color: #69B22C;
}

.tab-background{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    background-color: #69B22C;
    color: #fff;
    height: 40px;
    font-weight: 600;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 0 5px #aeaeae;
}

.tab-background img{
    width: 20px;
}

.tabs-block{
    padding: 55px 0 80px;
}

.news-block{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: 15px;
}

.logo-news{
    padding: 5px;
}

.img-holder{
    height: 250px;
    background-color: #9e9e9e;
    position: relative;
}

.img-holder_text:after{
    position: absolute;
    bottom: 10px;
    left: 15px;
    content: 'Окружи себя такими же фанатами спорта и фитнеса, как ты';
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.news-text{
    padding: 15px;
    font-size: 14px;
}

.news-text p{
    margin-bottom: 10px;
}

.news-text span{
    color: #69B22C;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.news-text h3{
    margin-bottom: 15px;
}

.tabs-days_fixed{
    z-index: 2;
    position: fixed;
    background: #69B22C;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    color: #fff;
    box-shadow: 0 0 5px #aeaeae;
}

.tabs-days_fixed img{
    width: 20px;
}

#magazine .tabs-block {
    padding: 71px 0 0;
}

.tabs-days_fixed .tabs-list {
    padding: 5px 10px;
}

.tabs-days_fixed .tabs-list a{
    color:#acdeac;
}

.tabs-days_fixed .tabs-list .active-tab_day{
    color: #fff;
}

.calories-left{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 8px solid #dee0e1;
    margin-bottom: 30px;
}

.calories-left p{
    font-size: 35px;
}

input[type='range'] {
    overflow: hidden;
    width: 150px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 8px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #aeaeae;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #aeaeae;
    box-shadow: -80px 0 0 80px #aeaeae;
}

input[type="range"]::-moz-range-progress {
    background-color: #aeaeae;
}
input[type="range"]::-moz-range-track {
    background-color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #aeaeae;
}
input[type="range"]::-ms-fill-upper {
    background-color: transparent;
}

input[type='range']{
    margin-right: 30px;
}

input[type='range']:last-child{
    margin-right: 0;
}

.carbohydrates-text,
.fat-text,
.proteins-text{
    margin-bottom: 5px;
    color: #aeaeae;
}

.norms-calories,
.schedule-eat,
.calories-burned,
.purpose{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #aeaeae;
}

.norms-calories div{
    margin-right: 30px;
}

.norms-calories div:last-child{
    margin-right: 0;
}

.used-calories{
    color: #000;
}

.schedule-eat{
    width: 100%;
}

.breakfast,
.lunch,
.dinner,
.snack{
    position: relative;
    margin-bottom: 20px;
}


.breakfast:before,
.lunch:before,
.dinner:before,
.snack:before{
    position: absolute;
    width: 20px;
}

.breakfast:before{
    content: url("./../images/breakfast.png");
}

.lunch:before{
    content: url("./../images/lunch.png");
}

.dinner:before{
    content: url("./../images/dinner.png");
}

.snack:before{
    content: url("./../images/snack.png");
}

.schedule-eat_text{
    padding-left: 55px;
}

.schedule-eat_text h3{
    margin-bottom: 5px;
}

.schedule-eat_text p{
    color: #939393;
    font-size: 14px;
}

.add-eat img{
    width: 20px;
}

.calories-burned{
    position: relative;
}

.calories-burned h3{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.calories-burned span{
    position: absolute;
    font-weight: 600;
    right: 11px;
    top: 22px;
}

.calories-burned p{
    line-height: 22px;
}

.choose-workout{
    font-weight: 600;
    color: #53bc53;
    text-transform: uppercase;
}

.purpose{
    position: relative;
    border-bottom: none;
}

.purpose h3{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.purpose h3~p{
    margin-bottom: 30px;
    color: #666666;
}

.current-weight{
    margin-right: 25px;
}

.current-weight p,
.desired-weight p{
    font-size: 18px;
}

.current-weight span,
.desired-weight span{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #757575;
}

.desired-weight,
.current-weight{
    margin-bottom: 15px;
}

.purpose .btn{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.purpose .btn:hover{
    box-shadow: 0 0 5px #aeaeae;
    background-color: #69B22C;
}

/*home page END*/

/*choose-eat page START*/

.choose-eat_section{
    background-color: #f5f5f5;
    height: 100vh;
}

.choose-eat_search{
    padding: 15px 0;
    background-color: #69B22C;
    margin-bottom: 10px;
}

.choose-product{
    border: none;
    padding: 10px 15px 10px 45px;
    font-size: 14px;
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
}

.choose-product:before{
    position: absolute;
    content: url("./../images/arrow-left.svg");
    width: 20px;
    height: 20px;
    top: 2px;
}

.choose-btn .btn{
    position: relative;
    margin-right: 15px;
    padding: 15px;
    max-width: 260px;
}

.choose-btn .btn:first-child:before,
.choose-btn .btn:last-child:before{
    position: absolute;
    width: 20px;
    left: 25px;
    top: 10px;
}

.choose-btn .btn:last-child:before{
    content: url("./../images/barcode-solid.svg");
}

.choose-btn .btn:first-child:before {
    content: url("./../images/fire-alt-solid.svg");
}

.choose-eat{
    padding: 20px 0;
    box-shadow: 0 0 5px #aeaeae;
    background-color: #fff;
}

.choose-eat_detail,
.choose-eat_day{
    padding: 15px;
    cursor: pointer;
}

.choose-eat_detail img,
.choose-eat_day img{
    margin-right: 15px;
}

.choose-eat_day img{
    width: 20px;
}

.choose-eat p{
    padding-left: 15px;
    color: #9e9e9e;
}

.choose-day{
    display: none;
    width: 385px;
    padding: 15px 15px 25px;
    background-color: #fff;
    position: absolute;
    bottom: 50px;
    left: 33%;
    box-shadow: 0 0 5px #aeaeae;
}

.choose-day h3{
    margin-bottom: 25px;
}

.choose-day li{
    margin-bottom: 32px;
}

.choose-day li p{
    color: #000;
}

.choose-day li:last-child{
    margin-bottom: 0;
}

@media (max-width: 725px){
    .choose-day{
        left: 25%;
    }

    .tabs-list{
        width: 530px;
    }
}

@media (max-width: 590px) {

    .tabs-days_fixed .tabs-list {
        padding: 10px;
    }

    .norms-calories,
    .schedule-eat,
    .calories-burned,
    .purpose {
        padding: 10px;
    }

    .choose-day{
        left: 18%;
    }

    .choose-btn .btn {
        max-width: 222px;
    }

    .choose-btn .btn:first-child:before,
    .choose-btn .btn:last-child:before {
        position: absolute;
        width: 15px;
        left: 8px;
        top: 14px;
    }

    .choose-btn .btn:first-child:before{
        left: 15px;
    }
}

@media (max-width: 515px) {

    .choose-day{
        width: 310px;
    }

    .tabs-list {
        width: 500px;
    }

    input[type='range'] {
        width: 130px;
    }

    .calories-burned p {
        margin-bottom: 10px;
    }

    .calories-burned span {
        top: 15px;
    }

    .purpose h3~p {
        margin-bottom: 20px;
    }

    .choose-btn .btn {
        max-width: 180px;
        font-size: 9px;
    }

    .choose-btn .btn:first-child:before,
    .choose-btn .btn:last-child:before {
        top: 12px;
    }

    .choose-eat_detail, .choose-eat_day {
        padding: 10px;
        font-size: 14px;
    }

    .choose-eat_detail img, .choose-eat_day img {
        margin-right: 10px;
    }

    .choose-eat_detail img{
        width: 28px;
    }

    .choose-eat_day img {
        width: 15px;
    }

    .choose-eat {
        padding: 13px 0;
    }

    .choose-eat p {
        font-size: 14px;
    }
}

@media (max-width: 488px) {
    .tabs-list{
        width: 410px;
    }

    .tabs-list{
        font-size: 12px;
    }
}

@media (max-width: 430px) {

    .tabs-list {
        width: 312px;
    }

    .tab-fixed .tabs-list{
        width: 370px;
    }

    .calories-left {
        height: 150px;
        width: 150px;
    }

    .calories-left p {
        font-size: 30px;
    }

    .calories-left span{
        text-align: center;
        font-size: 12px;
    }

    input[type='range'] {
        width: 100px;
    }

    .carbohydrates-text, .fat-text, .proteins-text {
        font-size: 14px;
    }

    .schedule-eat_text h3 {
        font-size: 15px;
    }

    .schedule-eat_text p {
        font-size: 12px;
    }

    .add-eat img {
        width: 15px;
    }

    .calories-burned h3 {
        font-size: 16px;
    }

    .calories-burned span {
        top: 12px;
        font-size: 14px;
    }

    .calories-burned p {
        line-height: 18px;
        font-size: 14px;
    }

    .purpose h3~p {
        margin-bottom: 10px;
    }

    .purpose .btn {
        padding: 15px 90px;
        max-width: 300px;
    }

    .choose-day{
        width: 290px;
    }
    /*.choose-day .breakfast:before,*/
    /*.choose-day .lunch:before,*/
    /*.choose-day .dinner:before,*/
    /*.choose-day .snack:before{*/
    /*    width: 15px;*/
    /*}*/

    .choose-day h3 {
        margin-bottom: 20px;
    }

    .choose-btn .btn {
        max-width: none;
        width: auto;
        margin-right: 5px;
        padding: 10px 10px 10px 20px;
    }

    .choose-btn .btn:first-child:before, .choose-btn .btn:last-child:before {
        width: 11px;
    }

    .choose-btn .btn:first-child:before,
    .choose-btn .btn:last-child:before{
        left: 5px;
    }

    .choose-btn .btn:first-child:before, .choose-btn .btn:last-child:before {
        top: 8px;
    }

    .choose-product{
        font-size: 12px;
    }
}

@media (max-width: 350px) {

    input[type='range'] {
        width: 70px;
    }

    .carbohydrates-text, .fat-text, .proteins-text {
        font-size: 12px;
    }

    .calories-burned h3 {
        font-size: 14px;
    }

    .calories-burned span {
        font-size: 12px;
    }

    .calories-burned p {
        font-size: 13px;
    }

    .purpose h3 {
        font-size: 15px;
    }

    .purpose h3~p {
        font-size: 14px;
    }

    .current-weight p, .desired-weight p {
        font-size: 16px;
    }

    .current-weight span, .desired-weight span {
        font-size: 28px;
    }

    .purpose .btn {
        padding: 15px 60px;
        max-width: 260px;
    }

    .tab-fixed .tabs-list {
        width: 325px;
    }


    .choose-workout p{
        font-size: 12px;
    }

    .choose-btn .btn {
        padding: 10px 10px 10px 15px;
    }

    .choose-btn .btn:first-child:before, .choose-btn .btn:last-child:before {
        width: 8px;
    }

    .choose-btn .btn:first-child:before,
    .choose-btn .btn:last-child:before{
        left: 4px;
    }

    .choose-btn .btn:first-child:before, .choose-btn .btn:last-child:before {
        top: 10px;
    }

    .choose-eat p {
        font-size: 12px;
    }
}
